logging:
  # This toggles between logging to console or syslog. We don't log to both.
  console: [true | false]

  # Syslog settings are used if "console" is false.
  # Leave both syslog settings blank for local syslog.
  syslogNetwork: <tcp | udp>
  syslogRaddr: <remote_host:port>

s3:
  # AWS CLI profile.  Credentials and region must be configured here.  This
  # simply reads from ~/.aws/credentials (and config).  The AWS CLI does not
  # need to be installed.
  profile: default

  # S3 bucket that SES saves emails to
  bucket: your-email-bucket

  # Prefix where SES delivers new mail.  Use a prefix here; don't use the root
  # of the bucket.
  newMailPrefix: incoming

  # Move emails that fail to decrypt to this prefix in the S3 bucket
  errorPrefix: undelivered

  # KMS key ID that SES uses to encrypt emails
  # This can be just the ID if it is in the same account and region as your AWS profile.
  # Otherwise, specify the complete ARN.
  kmsKeyId: xxxxxxxxxx

mail:
  # Your email domain
  domain: yourdomain.com

  # Your local smtp server and port
  smtpServer: localhost:25

  # Save decrypted emails that fail to deliver to this local (secure) path
  errorPath: /var/mail/undelivered

  # Run this script if there is an error, like an email fails to decrypt or be
  # delivered or fails the virus scan.  The error text is sent to the script
  # via stdin.
  alertScript: <path>
